:root {
    --alpha: rgb(79, 79, 79);
    --beta: #FFFFFF;
    --omega: #FFAFAF;
    --kappa: #FBFFE2;
    --delta: #FFEBCC;
    --zeta: #FF9999;
}


body {
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
    background-color: var(--kappa);
}


/* image */
img {
    max-width: 246px;
    max-height: 364.55px;
}

.card:hover {
    box-shadow: var(--omega);
  }



/* title */
  h6 {
      font-size: small;
      font-weight: bold;
  }


/* description */
p {
    font-size: smaller;
}


/* card style  */

.card{
    width: 20rem;
    border-radius: 10%;
    box-shadow: 1px;
}
.card-body{
background-color: var(--omega);
}

.card-title{
    font-size: small;
      font-weight: bold;
  }

.card-text{
    color: var(--alpha);

}